<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Declarative Shadow DOM Streaming Example</title>
</head>
<body>
<template shadowrootmode="open">

  <h2>Declarative Shadow DOM Streaming</h2>
  <strong>No Javascript Required</strong>
  <p>
    This example demonstrates how to use Django's StreamingHttpResponse along with
    the declarative Shadow DOM to stream content to the client.
  </p>

<p>Demo repo <a href="https://github.com/dmwyatt/template_streaming_shadow_dom">here</a>.</p>

  {#  Hold a spot open for content that the server doesn't yet have ready. #}
  <ul>
    {% for i in range(5) %}
      <li>
        <slot name="item-{{ i }}">Loading item {{ i + 1 }}...</slot>
      </li>
    {% endfor %}
  </ul>

  <p>
    The key part is that the Shadow DOM content that is at the end of the template gets 
    projected by the browser's HTML parser higher up in the document as it is streamed to 
    the client. This allows the server to send content to the client as it is 
    generated, rather than waiting for the entire response to be generated before 
    sending it to the client.
  </p>

</template>


{# Server sends this stuff when its ready and the browser inserts it above. #}
{% for i in delayed_range(5, 0.7) %}
  <span slot="item-{{ i }}">Content for item {{ i + 1 }}</span>
{% endfor %}
</body>
</html>
